<strong>Olá, {{ provider }}</strong>
<p>Que pena, um cliente cancelou o horário, confira os detalher abaixo:</p>
<p>
    <strong>Cliente: </strong> {{ user }} <br />
    <strong>Data/Hora: </strong>{{ date }}</strong> <br />
    <br />
    <small>
      Não se preocupe, o horário já está disponível para novos agendamentos.
    </small>
